<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Ritter</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/settings">Settings</a></div>
    <div class="navlink" style="margin-left: 40px;"><a id="allRitzButton">All Ritz</a></div>
    <div class="navlink"><a id="myRitzButton">My Ritz</a></div>
  </nav>

  <section id="makeRitz">

  </section>
  <section id="ritzs">
    
  </section>
  <section id="ad">
    
  </section>

  <div id="ritzMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/appBundle.js"></script>
</body>
</html>
