<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Ritter</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/maker">App</a></div>
  </nav>

  <section id="changePass">

  </section>
  <section id="changeStatus">

  </section>

  <div id="ritzMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/settingsBundle.js"></script>
</body>