html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    display: block;
    color: white;
    text-align: center;
    font-size: 1.3em;
    padding: 14px 16px;
    text-decoration: none;
}

.navlink a:hover {
    color: #333;
    background-color: rgb(255, 187, 123);
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.makeRitzSubmit {
    display: block;
    text-align: center;
    width: 120px;
    background-color: #333;
    color: white;
    text-decoration: none;
}

.makeRitzSubmit:link, .makeRitzSubmit:visited, .makeRitzSubmit:hover, .makeRitzSubmit:active {
    color: white;
}

.makeRitzSubmit:hover {
    color: #333;
    background-color: rgb(255, 187, 123);
    cursor: pointer;
}

.formSubmit {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #333;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    color: #333;
    background-color: rgb(255, 187, 123);
    cursor: pointer;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px rgb(255, 187, 123);
}

.hidden {
    display: none;
}

.ritzForm {
    border: 2px solid black;
    height: 35px;
    width: 700px;
    margin-top:0px;
    padding-top:10px;
    background-color: rgb(255, 187, 123);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.ritzForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: white;
}

.ritzForm input[type=text] {
    float:left;
}

#ritzMessage {
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#ritzMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#ritzs {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
}

#ritzs {
    width: 40%;
    min-width: 400px;
    border: 2px solid #333;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.ritz {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: rgb(255, 187, 123);
    padding: 10px;
    min-height:60px;
    overflow: hidden;
    cursor: normal;
}

h3.emptyRitz {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.ritzText {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

.ritz:first-child {
    margin-top: 10px;
}

.ritz:last-child {
    margin-bottom:10px;
}